
$color-1: #009688;
$color-2: #A7FFEB;
$color-3: #FF5722;
$color-4: #311B92;
$color-5: #004D40;

$color-trans-1: rgba(255, 255, 255, .1);
$color-trans-2: rgba(255, 255, 255, .2);
$color-trans-3: rgba(255, 255, 255, .3);
$color-trans-4: rgba(255, 255, 255, .4);
$color-trans-5: rgba(255, 255, 255, .5);
$color-trans-6: rgba(255, 255, 255, .6);
$color-trans-7: rgba(255, 255, 255, .7);
$color-trans-8: rgba(255, 255, 255, .8);
$color-trans-9: rgba(255, 255, 255, .9);
