$red: #FF0000;
$gray: #E0E0E0;
$green: #00FF00;

.application {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;

    &-header {
        display: block;
        min-height: 2rem;
        background-color: $red;
        order: 1;
    }

    &-main {
        display: block;
        background-color: $gray;
        order: 2;
        flex-grow: 1;
    }

    &-footer {
        display: block;
        min-height: 2rem;
        background-color: $green;
        order: 3;
    }
}
