@import 'colors';

.application {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;

    &-header {
        display: block;
        min-height: 2rem;
        background-color: $color-primary-0;
        order: 1;
    }

    &-main {
        display: block;
        order: 2;
        flex-grow: 1;
    }

    &-footer {
        display: block;
        min-height: 2rem;
        background-color: $color-secondary-2-4;
        order: 3;
    }
}
