@import 'colors';
@import 'fonts';

.chrome {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;

    &--content {
        flex-grow: 1;
    }

    > footer {
        background-color: $color-5;
        display: block;
        text-align: center;

        > h6 {
            color: $color-trans-8;
            font: 0.8rem $sans-fontstack;
            margin: 0.5rem 0;
        }
    }
}

.gw--appBar {
    background-color: $color-1 !important;
}
