@font-face {
  font-family: 'Darkenstone';
  font-style: normal;
  font-weight: normal;
  src: url('./Darkenstone.eot'),
       url('./Darkenstone.eot?#iefix') format('embedded-opentype'),
       url('./Darkenstone.woff2') format('woff2'),
       url('./Darkenstone.woff') format('woff'),
       url('./Darkenstone.ttf') format('truetype'),
       url('./Darkenstone.svg#Darkenstone') format('svg');
}
