@import 'colors';
@import 'fonts';
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('//cdn.materialdesignicons.com/1.4.57/css/materialdesignicons.min.css');

.authenticator {
    display: block;
    height: 100%;

    > ul {
        display: table;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0 1.5rem;

        > li {
            display: table-cell;
            font-size: 1.5rem;
            height: 100%;
            text-align: center;
            vertical-align: middle;

            &.authenticator--icon-unknown,
            &.authenticator--icon-initializing {
                color: $color-complement-2;
            }

            &.authenticator--icon-error {
                color: $color-secondary-1-2;
            }

            &.authenticator--icon-anonymous {
                color: $color-trans-7;
                cursor: pointer;

                &:hover,
                &:active {
                    color: $color-complement-1;
                }
            }
        }
    }

    > .authenticator--authinfo {
        background: $color-primary-4;
        display: table;
        height: 100%;

        > .authenticator--authinfo-photo {
            background-color: $color-primary-4;
            display: table-cell;
            height: 3rem;
            text-align: center;
            vertical-align: middle;
            width: 3rem;

            > .photo-missing {
                font-size: 2.5rem;
                vertical-align: middle;
            }

            > .photo {
                > img {
                    border: 0;
                    height: 3rem;
                    vertical-align:middle;
                    width: 3rem;
                }
            }
        }

        > .authenticator--authinfo-name {
            display: table-cell;
            height: 100%;
            padding: 0 1rem 0 0.5rem;
            vertical-align: middle;

            > h2 {
                color: $color-trans-8;
                font: 1rem $sans-fontstack;
                margin: 0;
            }
        }
    }
}
