@import 'colors';
@import 'fonts';

.header {
    display: flex;
    width: 100%;
    padding: 0 1rem;
    flex-flow: row nowrap;

    &-brand {
        order: 1;
        flex-grow: 1;

        > h1 {
            margin: $title-font-margin 0;
            font: $title-font;
            color: $title-font-color;
        }
    }

    &-menu {
        order: 2;
    }
}
