@import 'colors';
@import 'fonts';

header {
    background-color: $color-primary-0;
    color: $color-trans-7;
    display: flex;
    flex-flow: row nowrap;
    height: 3rem;

    > div {
        display: block;
        height: 100%;

        &.header--center {
            flex-grow: 1;

            h1 {
                font: $title-font;
                margin: 0;
                padding-left: 1.5rem;
            }
        }
    }
}
